# Data Cleaning

In [1]:
import numpy as np
import pandas as pd

In [2]:
path1 = r'C:\Aru_New_Future\Data_Cleaning\Mella_Data_Cleaning\Data_to_be_clean\data1.csv'

In [3]:
df1 = pd.read_csv(path1)
df1

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Colorado,5278906,20.78%,69.90%,3.55%,0.57%,2.66%,NaN,"$64,657.80",2648667M_2630239F
1,1,Connecticut,3593222,15.60%,67.68%,10.35%,0.13%,4.02%,0.02%,"$76,146.56",1751607M_1841615F
2,2,Delaware,926454,8.82%,64.63%,20.74%,0.26%,3.27%,NaN,"$61,827.98",448413M_478041F
3,3,District of Columbia,647484,9.17%,33.10%,51.78%,0.20%,3.38%,0.03%,"$75,466.36",306674M_340810F
4,4,Florida,19645772,21.34%,59.08%,15.17%,0.21%,2.28%,0.05%,"$50,690.19",9600009M_10045763F
5,5,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,"$50,811.08",4883331M_5123362F

In [4]:
path2 = r'C:\Aru_New_Future\Data_Cleaning\Mella_Data_Cleaning\Data_to_be_clean\data2.csv'
df2 = pd.read_csv(path2)
df2

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,"$50,811.08",4883331M_5123362F
1,1,Hawaii,1406299,9.19%,25.03%,2.05%,0.14%,36.59%,8.76%,"$73,264.43",709871M_696428F
2,2,Idaho,1616547,11.51%,83.14%,0.57%,1.47%,1.14%,0.13%,"$48,017.32",810464M_806083F
3,3,Illinois,12873761,15.60%,60.86%,17.11%,0.12%,4.48%,0.02%,"$59,587.05",6316899M_6556862F
4,4,Indiana,6568645,6.54%,78.43%,11.19%,0.19%,1.58%,0.03%,"$48,616.23",3235263M_3333382F
5,5,Iowa,3093526,5.30%,87.72%,3.26%,0.29%,1.70%,0.06%,"$53,017.75",1534595M_1558931F

In [5]:
path3 = r'C:\Aru_New_Future\Data_Cleaning\Mella_Data_Cleaning\Data_to_be_clean\data1.csv'
df3 = pd.read_csv(path3)
df3

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Colorado,5278906,20.78%,69.90%,3.55%,0.57%,2.66%,NaN,"$64,657.80",2648667M_2630239F
1,1,Connecticut,3593222,15.60%,67.68%,10.35%,0.13%,4.02%,0.02%,"$76,146.56",1751607M_1841615F
2,2,Delaware,926454,8.82%,64.63%,20.74%,0.26%,3.27%,NaN,"$61,827.98",448413M_478041F
3,3,District of Columbia,647484,9.17%,33.10%,51.78%,0.20%,3.38%,0.03%,"$75,466.36",306674M_340810F
4,4,Florida,19645772,21.34%,59.08%,15.17%,0.21%,2.28%,0.05%,"$50,690.19",9600009M_10045763F
5,5,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,"$50,811.08",4883331M_5123362F

In [6]:
path4 = r'C:\Aru_New_Future\Data_Cleaning\Mella_Data_Cleaning\Data_to_be_clean\data1.csv'
df4 = pd.read_csv(path4)
df4

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Colorado,5278906,20.78%,69.90%,3.55%,0.57%,2.66%,NaN,"$64,657.80",2648667M_2630239F
1,1,Connecticut,3593222,15.60%,67.68%,10.35%,0.13%,4.02%,0.02%,"$76,146.56",1751607M_1841615F
2,2,Delaware,926454,8.82%,64.63%,20.74%,0.26%,3.27%,NaN,"$61,827.98",448413M_478041F
3,3,District of Columbia,647484,9.17%,33.10%,51.78%,0.20%,3.38%,0.03%,"$75,466.36",306674M_340810F
4,4,Florida,19645772,21.34%,59.08%,15.17%,0.21%,2.28%,0.05%,"$50,690.19",9600009M_10045763F
5,5,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,"$50,811.08",4883331M_5123362F

In [28]:
import os
import pandas as pd
###############################################################################
folder = "Data_to_be_clean"
table_list = []
###############################################################################
for filename in os.listdir(folder):
    if filename.startswith("data") and filename.endswith(".csv"):
        filepath = os.path.join(folder, filename)
        data = pd.read_csv(filepath)
        table_list.append(data)
###############################################################################
if table_list:
    Tables = pd.concat(table_list).reset_index(drop=True)
else:
    print("No CSV files found.")
Tables

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Colorado,5278906,20.78%,69.90%,3.55%,0.57%,2.66%,NaN,"$64,657.80",2648667M_2630239F
1,1,Connecticut,3593222,15.60%,67.68%,10.35%,0.13%,4.02%,0.02%,"$76,146.56",1751607M_1841615F
2,2,Delaware,926454,8.82%,64.63%,20.74%,0.26%,3.27%,NaN,"$61,827.98",448413M_478041F
3,3,District of Columbia,647484,9.17%,33.10%,51.78%,0.20%,3.38%,0.03%,"$75,466.36",306674M_340810F
4,4,Florida,19645772,21.34%,59.08%,15.17%,0.21%,2.28%,0.05%,"$50,690.19",9600009M_10045763F
5,5,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,"$50,811.08",4883331M_5123362F
6,0,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,"$50,811.08",4883331M_5123362F
7,1,Hawaii,1406299,9.19%,25.03%,2.05%,0.14%,36.59%,8.76%,"$73,264.43",709871M_696428F
8,2,Idaho,1616547,11.51%,83.14%,0.57%,1.47%,1.14%,0.13%,"$48,017.32",810464M_806083F
9,3,Illinois,12873761,15.60%,60.86%,17.11%,0.12%,4.48%,0.02%,"$59,587.05",6316899M_6556862F
10,4,Indiana,6568645,6.54%,78.43%,11.19%,0.19%,1.58%,0.03%,"$48,616.23",3235263M_3333382F
11,5,Iowa,3093526,5.30%,87.72%,3.26%,0.29%,1.70%,0.06%,"$53,017.75",1534595M_1558931F
12,0,Iowa,3093526,5.30%,87.72%,3.26%,0.29%,1.70%,0.06%,"$53,017.75",1534595M_1558931F
13,1,Kansas,2892987,11.64%,75.96%,6.57%,0.73%,2.33%,NaN,"$53,885.61",1439862M_1453125F
14,2,Kentucky,4397353,3.22%,85.23%,8.27%,0.17%,1.13%,0.05%,"$45,285.80",2164208M_2233145F
15,3,Louisiana,4625253,4.87%,54.98%,36.33%,0.48%,1.67%,0.04%,"$44,957.99",2261156M_2364097F
16,4,Maine,1329100,1.43%,93.71%,1.13%,0.79%,0.97%,0.02%,"$49,181.97",650081M_679019F
17,5,Maryland,5930538,8.47%,52.68%,30.68%,0.20%,5.33%,0.04%,"$78,765.40",2872643M_F
18,0,Maryland,5930538,8.47%,52.68%,30.68%,0.20%,5.33%,0.04%,"$78,765.40",2872643M_F
19,1,Massachusetts,6705586,11.46%,73.04%,6.83%,0.13%,5.84%,0.02%,"$72,838.94",3249650M_3455936F
20,2,Michigan,9900571,4.63%,72.38%,17.63%,0.48%,2.42%,0.02%,"$51,201.83",4861973M_5038598F
21,3,Minnesota,5419171,5.15%,81.43%,5.66%,1.07%,4.16%,0.03%,"$62,820.83",2692166M_2727005F
22,4,Mississippi,2988081,2.84%,53.29%,41.49%,0.39%,0.88%,0.02%,"$38,909.92",1451723M_1536358F
23,5,Missouri,6045448,4.04%,77.51%,14.12%,0.36%,1.62%,0.10%,"$49,763.99",2964003M_3081445F

In [26]:
Tables

,index,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,0,Colorado,5278906,20.78%,69.90%,3.55%,0.57%,2.66%,NaN,"$64,657.80",2648667M_2630239F
1,1,1,Connecticut,3593222,15.60%,67.68%,10.35%,0.13%,4.02%,0.02%,"$76,146.56",1751607M_1841615F
2,2,2,Delaware,926454,8.82%,64.63%,20.74%,0.26%,3.27%,NaN,"$61,827.98",448413M_478041F
3,3,3,District of Columbia,647484,9.17%,33.10%,51.78%,0.20%,3.38%,0.03%,"$75,466.36",306674M_340810F
4,4,4,Florida,19645772,21.34%,59.08%,15.17%,0.21%,2.28%,0.05%,"$50,690.19",9600009M_10045763F
5,5,5,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,"$50,811.08",4883331M_5123362F
6,0,0,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,"$50,811.08",4883331M_5123362F
7,1,1,Hawaii,1406299,9.19%,25.03%,2.05%,0.14%,36.59%,8.76%,"$73,264.43",709871M_696428F
8,2,2,Idaho,1616547,11.51%,83.14%,0.57%,1.47%,1.14%,0.13%,"$48,017.32",810464M_806083F
9,3,3,Illinois,12873761,15.60%,60.86%,17.11%,0.12%,4.48%,0.02%,"$59,587.05",6316899M_6556862F
10,4,4,Indiana,6568645,6.54%,78.43%,11.19%,0.19%,1.58%,0.03%,"$48,616.23",3235263M_3333382F
11,5,5,Iowa,3093526,5.30%,87.72%,3.26%,0.29%,1.70%,0.06%,"$53,017.75",1534595M_1558931F
12,0,0,Iowa,3093526,5.30%,87.72%,3.26%,0.29%,1.70%,0.06%,"$53,017.75",1534595M_1558931F
13,1,1,Kansas,2892987,11.64%,75.96%,6.57%,0.73%,2.33%,NaN,"$53,885.61",1439862M_1453125F
14,2,2,Kentucky,4397353,3.22%,85.23%,8.27%,0.17%,1.13%,0.05%,"$45,285.80",2164208M_2233145F
15,3,3,Louisiana,4625253,4.87%,54.98%,36.33%,0.48%,1.67%,0.04%,"$44,957.99",2261156M_2364097F
16,4,4,Maine,1329100,1.43%,93.71%,1.13%,0.79%,0.97%,0.02%,"$49,181.97",650081M_679019F
17,5,5,Maryland,5930538,8.47%,52.68%,30.68%,0.20%,5.33%,0.04%,"$78,765.40",2872643M_F
18,0,0,Maryland,5930538,8.47%,52.68%,30.68%,0.20%,5.33%,0.04%,"$78,765.40",2872643M_F
19,1,1,Massachusetts,6705586,11.46%,73.04%,6.83%,0.13%,5.84%,0.02%,"$72,838.94",3249650M_3455936F
20,2,2,Michigan,9900571,4.63%,72.38%,17.63%,0.48%,2.42%,0.02%,"$51,201.83",4861973M_5038598F
21,3,3,Minnesota,5419171,5.15%,81.43%,5.66%,1.07%,4.16%,0.03%,"$62,820.83",2692166M_2727005F
22,4,4,Mississippi,2988081,2.84%,53.29%,41.49%,0.39%,0.88%,0.02%,"$38,909.92",1451723M_1536358F
23,5,5,Missouri,6045448,4.04%,77.51%,14.12%,0.36%,1.62%,0.10%,"$49,763.99",2964003M_3081445F

In [27]:
Tables.columns

Index(['index', 'Unnamed: 0', 'State', 'TotalPop', 'Hispanic', 'White',
       'Black', 'Native', 'Asian', 'Pacific', 'Income', 'GenderPop'],
      dtype='object')

In [29]:
Tables.shape

(24, 11)

In [30]:
len(Tables)

24

In [31]:
Tables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24 non-null     int64
 1   State       24 non-null     object
 2   TotalPop    24 non-null     int64
 3   Hispanic    24 non-null     object
 4   White       24 non-null     object
 5   Black       24 non-null     object
 6   Native      24 non-null     object
 7   Asian       24 non-null     object
 8   Pacific     21 non-null     object
 9   Income      24 non-null     object
 10  GenderPop   24 non-null     object
dtypes: int64(2), object(9)
memory usage: 2.2+ KB

In [32]:
Tables.isnull().sum()

Unnamed: 0    0
State         0
TotalPop      0
Hispanic      0
White         0
Black         0
Native        0
Asian         0
Pacific       3
Income        0
GenderPop     0
dtype: int64

In [33]:
Tables.duplicated().value_counts()

False    24
Name: count, dtype: int64

# Handle Duplicate Data

In [ ]:
Tables_copy.duplicated().value_counts()

In [ ]:
Tables_copy = Tables_copy.drop_duplicates()
Tables_copy.shape

## Cleaning the Dataset

In [55]:
Tables_copy = Tables.copy()

### 1. Remove unused variable

In [56]:
Tables_copy = Tables_copy.drop(columns = ['Unnamed: 0'], axis=1)
Tables_copy.head(3)

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Colorado,5278906,20.78%,69.90%,3.55%,0.57%,2.66%,NaN,"$64,657.80",2648667M_2630239F
1,Connecticut,3593222,15.60%,67.68%,10.35%,0.13%,4.02%,0.02%,"$76,146.56",1751607M_1841615F
2,Delaware,926454,8.82%,64.63%,20.74%,0.26%,3.27%,NaN,"$61,827.98",448413M_478041F

In [57]:
Tables_copy.head(2)

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Colorado,5278906,20.78%,69.90%,3.55%,0.57%,2.66%,NaN,"$64,657.80",2648667M_2630239F
1,Connecticut,3593222,15.60%,67.68%,10.35%,0.13%,4.02%,0.02%,"$76,146.56",1751607M_1841615F

In [58]:
Tables_copy.Income = Tables_copy.Income.replace('[,\$]', '', regex=True)
Tables_copy.Income = pd.to_numeric(Tables_copy.Income)
Tables_copy

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Colorado,5278906,20.78%,69.90%,3.55%,0.57%,2.66%,NaN,64657.80,2648667M_2630239F
1,Connecticut,3593222,15.60%,67.68%,10.35%,0.13%,4.02%,0.02%,76146.56,1751607M_1841615F
2,Delaware,926454,8.82%,64.63%,20.74%,0.26%,3.27%,NaN,61827.98,448413M_478041F
3,District of Columbia,647484,9.17%,33.10%,51.78%,0.20%,3.38%,0.03%,75466.36,306674M_340810F
4,Florida,19645772,21.34%,59.08%,15.17%,0.21%,2.28%,0.05%,50690.19,9600009M_10045763F
5,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,50811.08,4883331M_5123362F
6,Georgia,10006693,8.42%,54.29%,32.09%,0.19%,3.10%,0.05%,50811.08,4883331M_5123362F
7,Hawaii,1406299,9.19%,25.03%,2.05%,0.14%,36.59%,8.76%,73264.43,709871M_696428F
8,Idaho,1616547,11.51%,83.14%,0.57%,1.47%,1.14%,0.13%,48017.32,810464M_806083F
9,Illinois,12873761,15.60%,60.86%,17.11%,0.12%,4.48%,0.02%,59587.05,6316899M_6556862F
10,Indiana,6568645,6.54%,78.43%,11.19%,0.19%,1.58%,0.03%,48616.23,3235263M_3333382F
11,Iowa,3093526,5.30%,87.72%,3.26%,0.29%,1.70%,0.06%,53017.75,1534595M_1558931F
12,Iowa,3093526,5.30%,87.72%,3.26%,0.29%,1.70%,0.06%,53017.75,1534595M_1558931F
13,Kansas,2892987,11.64%,75.96%,6.57%,0.73%,2.33%,NaN,53885.61,1439862M_1453125F
14,Kentucky,4397353,3.22%,85.23%,8.27%,0.17%,1.13%,0.05%,45285.80,2164208M_2233145F
15,Louisiana,4625253,4.87%,54.98%,36.33%,0.48%,1.67%,0.04%,44957.99,2261156M_2364097F
16,Maine,1329100,1.43%,93.71%,1.13%,0.79%,0.97%,0.02%,49181.97,650081M_679019F
17,Maryland,5930538,8.47%,52.68%,30.68%,0.20%,5.33%,0.04%,78765.40,2872643M_F
18,Maryland,5930538,8.47%,52.68%,30.68%,0.20%,5.33%,0.04%,78765.40,2872643M_F
19,Massachusetts,6705586,11.46%,73.04%,6.83%,0.13%,5.84%,0.02%,72838.94,3249650M_3455936F
20,Michigan,9900571,4.63%,72.38%,17.63%,0.48%,2.42%,0.02%,51201.83,4861973M_5038598F
21,Minnesota,5419171,5.15%,81.43%,5.66%,1.07%,4.16%,0.03%,62820.83,2692166M_2727005F
22,Mississippi,2988081,2.84%,53.29%,41.49%,0.39%,0.88%,0.02%,38909.92,1451723M_1536358F
23,Missouri,6045448,4.04%,77.51%,14.12%,0.36%,1.62%,0.10%,49763.99,2964003M_3081445F

In [60]:
race_column = ['Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific']
for col in race_column:
    Tables_copy[col] = Tables_copy[col].replace('[,\%]', '', regex=True)
    Tables_copy[col] = pd.to_numeric(Tables_copy[col])
Tables_copy.head(3)

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Colorado,5278906,20.78,69.90,3.55,0.57,2.66,NaN,64657.80,2648667M_2630239F
1,Connecticut,3593222,15.60,67.68,10.35,0.13,4.02,0.02,76146.56,1751607M_1841615F
2,Delaware,926454,8.82,64.63,20.74,0.26,3.27,NaN,61827.98,448413M_478041F

In [61]:
print(Tables_copy.dtypes)

State         object
TotalPop       int64
Hispanic     float64
White        float64
Black        float64
Native       float64
Asian        float64
Pacific      float64
Income       float64
GenderPop     object
dtype: object

# Split Major column into Small Columns

In [13]:
gender_split = Tables_copy['GenderPop'].str.split("_")
Tables_copy['MalePop'] = gender_split.str.get(0)
Tables_copy['FemalePop'] = gender_split.str.get(1)
Tables_copy.head(3)

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop,MalePop,FemalePop
0,Alabama,4830620,3.75,61.88,31.25,0.45,1.05,0.03,43296.36,2341093M_2489527F,2341093M,2489527F
1,Alaska,733375,5.91,60.91,2.85,16.39,5.45,1.06,70354.74,384160M_349215F,384160M,349215F
2,Arizona,6641928,29.57,57.12,3.85,4.36,2.88,0.17,54207.82,3299088M_3342840F,3299088M,3342840F

In [14]:
Tables_copy.MalePop = Tables_copy.MalePop.str[0:-1]
Tables_copy.FemalePop = Tables_copy.FemalePop.str[0:-1]
#######################################################
Tables_copy.MalePop = pd.to_numeric(Tables_copy.MalePop)
Tables_copy.FemalePop = pd.to_numeric(Tables_copy.FemalePop)

In [15]:
Tables_copy = Tables_copy.drop('GenderPop', axis=1)
Tables_copy.head(3)

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,MalePop,FemalePop
0,Alabama,4830620,3.75,61.88,31.25,0.45,1.05,0.03,43296.36,2341093,2489527.0
1,Alaska,733375,5.91,60.91,2.85,16.39,5.45,1.06,70354.74,384160,349215.0
2,Arizona,6641928,29.57,57.12,3.85,4.36,2.88,0.17,54207.82,3299088,3342840.0

In [16]:
Tables_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      60 non-null     object
 1   TotalPop   60 non-null     int64
 2   Hispanic   60 non-null     float64
 3   White      60 non-null     float64
 4   Black      60 non-null     float64
 5   Native     60 non-null     float64
 6   Asian      60 non-null     float64
 7   Pacific    55 non-null     float64
 8   Income     60 non-null     float64
 9   MalePop    60 non-null     int64
 10  FemalePop  57 non-null     float64
dtypes: float64(8), int64(2), object(1)
memory usage: 5.3+ KB

In [18]:
Tables_copy.Pacific = Tables_copy.Pacific.fillna(Tables_copy.Pacific.mean())

In [19]:
Tables_copy.FemalePop = Tables_copy.FemalePop.fillna(Tables_copy.TotalPop - Tables_copy.MalePop)

In [20]:
Tables_copy.isnull().sum()

State        0
TotalPop     0
Hispanic     0
White        0
Black        0
Native       0
Asian        0
Pacific      0
Income       0
MalePop      0
FemalePop    0
dtype: int64

In [24]:
print('Before dataset is cleaned: \n')
print(Tables.dtypes)
Tables.head()

Before dataset is cleaned:

index          int64
Unnamed: 0     int64
State         object
TotalPop       int64
Hispanic      object
White         object
Black         object
Native        object
Asian         object
Pacific       object
Income        object
GenderPop     object
dtype: object

,index,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,0,Alabama,4830620,3.75%,61.88%,31.25%,0.45%,1.05%,0.03%,"$43,296.36",2341093M_2489527F
1,1,1,Alaska,733375,5.91%,60.91%,2.85%,16.39%,5.45%,1.06%,"$70,354.74",384160M_349215F
2,2,2,Arizona,6641928,29.57%,57.12%,3.85%,4.36%,2.88%,0.17%,"$54,207.82",3299088M_3342840F
3,3,3,Arkansas,2958208,6.22%,71.14%,18.97%,0.52%,1.14%,0.15%,"$41,935.63",1451913M_1506295F
4,4,4,California,38421464,37.29%,40.22%,5.68%,0.41%,13.05%,0.35%,"$67,264.78",19087135M_19334329F

In [25]:
print('After dataset is cleaned: \n')
print(Tables_copy.dtypes)
Tables_copy.head()

After dataset is cleaned:

State         object
TotalPop       int64
Hispanic     float64
White        float64
Black        float64
Native       float64
Asian        float64
Pacific      float64
Income       float64
MalePop        int64
FemalePop    float64
dtype: object

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,MalePop,FemalePop
0,Alabama,4830620,3.75,61.88,31.25,0.45,1.05,0.03,43296.36,2341093,2489527.0
1,Alaska,733375,5.91,60.91,2.85,16.39,5.45,1.06,70354.74,384160,349215.0
2,Arizona,6641928,29.57,57.12,3.85,4.36,2.88,0.17,54207.82,3299088,3342840.0
3,Arkansas,2958208,6.22,71.14,18.97,0.52,1.14,0.15,41935.63,1451913,1506295.0
4,California,38421464,37.29,40.22,5.68,0.41,13.05,0.35,67264.78,19087135,19334329.0

In [26]:
Tables_copy.to_csv('YourPath/cleaned_data.csv', header=True)

In [31]:
Tables_copy[Tables_copy['Hispanic'] >= 90]

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,MalePop,FemalePop
46,Puerto Rico,3583073,98.89,0.77,0.09,0.0,0.08,0.0,20720.54,1713860,1869213.0